#main {
    height: 92%;
    width: 100%;
}
body, html {
    height: 100%;
    margin: 0;
}
.inst,.author {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    color: white;
}
.inst {
    text-align: center;
    width: 70%;
}
.author {
    float: right;
    margin-right: 20px;
    font-weight: 600;
}
.authorLink {
    color: white;
    text-decoration: none;
}
.authorLink:hover {
    text-decoration: underline;
}
